// Font variables
$open-sans: 'Open Sans', sans-serif;

// Color variables
$white: #fff;
$nav-border: #d5d6d6;
$nav-font: rgba(46, 49, 52, 0.8);
$review-background: #f4f5f7;
$footer-background: #2e3134;
$body-font: #2e3134;
$footer-font: #fff;
$blue: #0069d2;

body {
	background-color: $white;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: $open-sans;
	font-size: 16px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	display: inline;
}

button {
	background-color: $blue;
	color: $white;
	font-size: 14px;
	text-transform: uppercase;
	border: 0px;
	border-radius: 5px;
}

// Navigation styling
#navigation {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	text-transform: uppercase;
	color: $nav-font;
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
}

#top-nav {
	height: 47px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid $nav-border;
	li {
		padding: 0 45px;
		border-right: 1px solid $nav-border;
	}
}

#sub-nav {
	margin: 0 23px 0 40px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#sub-nav-ul li {
	padding: 40px;
}

#nav-button button {
	padding: 10px 15px;
	box-shadow: 0 1px 2px 0 rgba(46, 49, 52, 0.4);
	letter-spacing: 0.5px;
	line-height: 16px;
}

// Hero Styling
#hero {
	height: 800px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('./images/hero.png');
	background-position-x: right;
}

#hero-message {
	width: 75%;
	color: $white;
	font-size: 72px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 90px;
}

#hero-button button {
	margin-top: 50px;
	padding: 20px 130px;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
	letter-spacing: 1px;
	text-align: center;
	line-height: 14px;
}

// Reviews Styling
#reviews-container {
	padding: 25px 0;
	display: flex;
	flex: 1;
	align-items: center;
	justify-items: space-between;
	background-color: $review-background;
}

.review-card {
	padding: 50px;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 1px 2px 0 rgba(46, 49, 52, 0.4);
	background-color: $white;
	opacity: 0.8;
	color: $body-font;
	font-size: 16px;
	letter-spacing: 0.3px;
	text-align: center;
	line-height: 24px;
}

// Workouts Styling
#workouts-container {
	margin: 50px 0;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
